{
  "presets": [
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    [
      "react-intl", {
        "messagesDir": "./public/assets/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
