footer {
  background-color: #C2CCCC;
}
footer .row {
  bottom: 25px;
  padding:3%;
  border-bottom: 1px solid #FFFFFF;
}

.logo {
  width: 100%;
  display: block;
  padding: 5% 5%;
}

.gota-canal-logo {
  float: right;
  width: 31%;
  display: inline;
  border-radius: 3px;
}

.west-sweden-logo {
  width: 60%;
  float: left;
  display: inline;
  border-radius: 3px;
  border: 5px solid #FFFFFF;
}

.adress-component {
  border-left: 1px solid #FFFFFF;
  padding: 3%;
}

.logo-component {
  border-right: 1px solid #FFFFFF;
  padding: 3%;
}
