.header {
  background-color: #C2CCCC;
}

.navbar-brand {
 font-family: 'Playfair Display SC', serif;
 font-size: 2em;
 font-variant: small-caps;
 display: inline-block;
 padding-top: $navbar-brand-padding-y;
 padding-bottom: $navbar-brand-padding-y;
 margin-right: $navbar-padding-x;
 line-height: inherit;
 white-space: nowrap;

 @include hover-focus {
   text-decoration: none;
 }
}

.navbar-nav {
 display: flex;
 flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
 padding-left: 0;
 margin-bottom: 0;
 list-style: none;

 .nav-link {
   padding-right: 0;
   padding-left: 0;
   font-family: 'Arvo', serif;
 }

 .dropdown-menu {
   position: static;
   float: none;
 }
}

.nav-link {
 font-family: 'Arvo', serif;
}
