body {
  margin: 0%;
  padding: 0%;
  font-family: 'Lato', sans-serif;
  background-color: #EDEFEF;
}

.visthuset-primary {
  background-color: #678A8A !important;
  border: 1px solid #678A8A;
}

.visthuset-primary:hover {
  border: 1px solid #FFFFFF;
}

h1 {
  font-family: 'Playfair Display SC', serif;
}

h2 {
  font-family: 'Arvo', serif;
  color: black;
  font-size: 1.5rem;
}

p {
  color: black;
}
nav {
  background-color: inherit;
}

img {
  width: 100%;
}

.content {
  margin: 10% 0%;
}

.page {
  padding: 0% 0% 0% 0%;
  margin: 0%;
  width: 100%;
}

.borded {
  border: 2px solid black;
  padding: 2%;
}
